h1{color: rgb(19, 10, 10);
font-size:30px;
text-align: center;
}
#UNO {
    color: rgb(10, 6, 2);
    font-size: 30px;
}
.MICLASE1{
    color: rgb(11, 4, 15);
    font-size: 25px;
}
h1{ 
    margin: 15px;
    padding: 60px 15px;
    border: 5px solid rgb(253, 101, 220);
    text-align: center;
    font-size: 30px;
    border-radius: 50px;
    box-shadow: 10px 20px 10px  rgb(253, 101, 220)
    
}

span{ font-size: 45px;
    background-color: aqua;
}
#logo{
    width:450px;
    height: 380px;
}

img{
    width: 300px;
    height: 200px;
}
h1{
    font-family: 'Caveat', cursive;
}


body{
    background-image:url(../img/logo4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
   background-attachment: fixed;
}

.icon{
    color: darkorchid
    ;
    font-size: 40px;
}

h2{
    column-count: 4;
    column-gap: 40px;
    column-rule: 10px double coral
}

@media (min-width: 700px) and (max-width: 1480px){
    h1{ margin: 10%; }
}
p.p1{
    clear: right;
}
section img{
    float:left ;
    margin-right: 50px;
}
.padre{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}